on charger
    #low power governing
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    restorecon_recursive /sys/devices/system/cpu/cpufreq/interactive
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/lpm_levels/enable_low_power/l2 4
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/retention/idle_enabled 1

on boot
    # Shamu boots with performance governor.
    # Switch one core to interactive to set permissions, for power hal and system server.
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    restorecon_recursive /sys/devices/system/cpu/cpufreq/interactive
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    #chown system system /sys/devices/system/cpu/cpufreq/interactive/input_boost
    #chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chown system system /sys/devices/system/cpu/cpufreq/interactive/sampling_down_factor
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/sampling_down_factor

    # disable bcl
    write /sys/devices/qcom,bcl.39/mode disabled

on property:dev.bootcomplete=1
    write /sys/module/lpm_levels/enable_low_power/l2 4
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/retention/idle_enabled 1
    write /sys/module/msm_thermal/core_control/enabled 0
# ------------------------------------------------------------------------------------------------------------
# Removed, Yank555.lu kernel config is below
#    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
#    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
#    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
#    write /sys/module/msm_thermal/core_control/enabled 1
#    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 1
#
#    # cpufreq settings
#    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1400000:40000 1700000:20000"
#    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 90
#    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1497600
#    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "85 1500000:90 1800000:70"
#    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
#    write /sys/devices/system/cpu/cpufreq/interactive/sampling_down_factor 100000
#    write /sys/module/cpu_boost/parameters/input_boost_freq 1497600
#    write /sys/module/cpu_boost/parameters/input_boost_ms 40
    write /dev/cpuctl/apps/cpu.notify_on_migrate 0

    # Configure Yank555.lu kernel ---- Start

    # - Enable Simple GPU algorithm
    write /sys/module/simple_gpu_algorithm/parameters/simple_gpu_activate "1"
    write /sys/module/simple_gpu_algorithm/parameters/simple_laziness "0"
    write /sys/module/simple_gpu_algorithm/parameters/simple_ramp_threshold "0"

    # - Configure cpufreq Hardlimit driver
    write /sys/kernel/cpufreq_hardlimit/userspace_dvfs_lock "1"
    write /sys/kernel/cpufreq_hardlimit/scaling_min_freq_screen_on "300000"
    write /sys/kernel/cpufreq_hardlimit/scaling_min_freq_screen_off "300000"
    write /sys/kernel/cpufreq_hardlimit/scaling_max_freq_screen_on "2649600"
    write /sys/kernel/cpufreq_hardlimit/scaling_max_freq_screen_off "1497600"
    write /sys/kernel/cpufreq_hardlimit/wakeup_kick_freq "1958400"
    write /sys/kernel/cpufreq_hardlimit/wakeup_kick_delay "3000"
    write /sys/kernel/cpufreq_hardlimit/touchboost_delay "1000"
    write /sys/kernel/cpufreq_hardlimit/touchboost_eventcount "4"
    write /sys/kernel/cpufreq_hardlimit/touchboost_lo_freq "883200"
    write /sys/kernel/cpufreq_hardlimit/touchboost_hi_freq "1267200"

    # - Setup CPU governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "yankactive"
    write /sys/devices/system/cpu/cpu1/online "1"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "yankactive"
    write /sys/devices/system/cpu/cpu2/online "1"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "yankactive"
    write /sys/devices/system/cpu/cpu3/online "1"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "yankactive"
    restorecon_recursive /sys/devices/system/cpu/cpufreq

    # - Configure IntelliPlug
    stop mpdecision
    write /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_min_freq "300000"
    write /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_max_freq "2649600"
    write /sys/devices/system/cpu/cpu1/online "1"
    write /sys/devices/system/cpu/cpu1/cpufreq/cpuinfo_min_freq "300000"
    write /sys/devices/system/cpu/cpu1/cpufreq/cpuinfo_max_freq "2649600"
    write /sys/devices/system/cpu/cpu2/online "1"
    write /sys/devices/system/cpu/cpu2/cpufreq/cpuinfo_min_freq "300000"
    write /sys/devices/system/cpu/cpu2/cpufreq/cpuinfo_max_freq "2649600"
    write /sys/devices/system/cpu/cpu3/online "1"
    write /sys/devices/system/cpu/cpu3/cpufreq/cpuinfo_min_freq "300000"
    write /sys/devices/system/cpu/cpu3/cpufreq/cpuinfo_max_freq "2649600"
    write /sys/module/intelli_plug/parameters/intelli_plug_active "1"
    write /sys/module/intelli_plug/parameters/touch_boost_active "0"
    write /sys/module/intelli_plug/parameters/nr_run_profile_sel "2"
    write /sys/module/intelli_plug/parameters/nr_run_hysteresis "4"
    write /sys/module/intelli_plug/parameters/cpu_nr_run_threshold "3500"

    # - Configure IntelliThermal
    stop thermal-engine
    write /sys/module/msm_thermal/parameters/enabled "1"
    write /sys/module/msm_thermal/parameters/core_control_mask "12"
    write /sys/module/msm_thermal/parameters/freq_control_mask "15"
    write /sys/module/msm_thermal/parameters/limit_temp_degC "70"
    write /sys/module/msm_thermal/parameters/core_limit_temp_degC "75"

    # - Set Vibrator strength
    write /sys/vibrator/pwmvalue 80

    # - Set 6500K color calibration
    write /sys/devices/platform/kcal_ctrl.0/kcal "250 250 255"
    write /sys/devices/platform/kcal_ctrl.0/kcal_sat "243"
    write /sys/devices/platform/kcal_ctrl.0/kcal_cont "255"
    write /sys/devices/platform/kcal_ctrl.0/kcal_hue "1515"
    write /sys/devices/platform/kcal_ctrl.0/kcal_val "250"
    write /sys/devices/platform/kcal_ctrl.0/kcal_ctrl "1"

    # Switch to fiops scheduler and increase readahead buffer to 1024Kb
    write /sys/block/mmcblk0/queue/scheduler fiops
    write /sys/block/mmcblk0/bdi/read_ahead_kb 1024

    # Activate swap
    exec - root system -- /system/xbin/swapon.sh

    # Configure Yank555.lu kernel ---- End
